{% extends "../base.jinja2" %}

{% block header %}
    <div class="content">
        <h2>{{ site_header }}</h2>
    </div>
{% endblock %}

{% block menu %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item menu_button selected" href="/">Home</a>
            <a class="navbar-item menu_button" href="/add">Add new todo</a>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="columns">
    <div class="column is-3">

    </div>

    <div class="column is-5">
  <header class="card-header">
    <p class="card-header-title">
        {{ title }}
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
        {{ description or '-' }}
      <br>
      <time datetime="{{ date_added }}">{{ date_added }}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="/{{ id }}/" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
    </div>
    </div>
{% endblock %}
