{% extends "../base.jinja2" %}

{% block header %}
    <h3>{{ site_header }}</h3>
{% endblock %}

{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand btn btn-default menu_button selected" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="btn btn-default menu_button" href="/add">Add new todo</a>
              </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
            <tr>
                <td class="col-md-3">Name</td>
                <td class="col-md-3">Description</td>
                <td class="col-md-3">Date added</td>
                <td class="col-md-3">Due date</td>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %}
                <tr>
                    <td class="col-md-3">{{ todo.title }}</td>
                    <td class="col-md-3">{{ todo.description }}</td>
                    <td class="col-md-3">{{ todo.date_added }}</td>
                    <td class="col-md-3">-</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
