{% extends "../base.jinja2" %}

{% block header %}
    <div class="content">
        <h2 class="is-large">{{ site_header }}</h2>
    </div>
{% endblock %}

{% block menu %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item menu_button selected" href="/">Home</a>
            <a class="navbar-item menu_button" href="/add">Add new todo</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="content">
        <table>
            <thead class="table_header">
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Date added</strong></td>
                    <td><strong>Due date</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for todo in todo_list %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.description }}</td>
                        <td>{{ todo.date_added }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
