<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super ToDo</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>

<div class="container">
    <p>Add new todo</p>
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label for="usr">Title:</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control" rows="5" id="desc" name="description"></textarea>
            </div>
            <button class="btn btn-default" type="submit">Add</button>
        </form>
    </div>
</body>
</html>
