<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super ToDo</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>

<div class="container">
<p>Todo list</p>
<div class="row">
<table class="table table-hover">
    <tr>
        <td class="col-md-3">Name</td>
        <td class="col-md-3">Description</td>
        <td class="col-md-3">Date added</td>
        <td class="col-md-3">Due date</td>
    </tr>
    {% for todo in todo_list %}
        <tr>
            <td class="col-md-3">{{ todo.title }}</td>
            <td class="col-md-3">{{ todo.description }}</td>
            <td class="col-md-3">{{ todo.date_added }}</td>
            <td class="col-md-3">-</td>
        </tr>
    {% endfor %}
</table>
</div>
</div>

</body>
</html>