{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <form action="/form/" method="post">
      <input type="text" name="message">
      <input type="submit" value="Submit">
  </form>
</div>
{% endblock content %}